1. The system's power controller must shut power on/off within 1 minute.
2. The system must beable to process at least 30 users at the same time on different terminals.
3. The system must beable to display the food stock data on the database within 30 seconds.
