1. The communication system must have a MTTF of at least 6 months.
2. The system's backup diesel generators should be available 99.99% of the time.
3. The system's park wind turbine feature should fail on no more than 0.1% of attempts.
